/* Layout */

.container {
	width: 60%;
	margin: 0 auto;
}

.block-top {
	display: inline-block;
	vertical-align: top;
}

#enter-details {
	width: 50%;
}

#charge-earnings {
	width: 45%;
}

ul {
	padding: 0;
}

/* Styling */
.border {
	border: 1px solid #000000;
	padding: 5px;
	margin-bottom: 10px;
}

h1,h2,h3,h4,h5,h6,p,li {
	font-family: arial;
}

li {
	list-style-type: none;
	margin-bottom: 3px;
}

h1, h2 {
	text-align: center;
}

label {
	display: inline-block;
	width: 50%;
	text-align: right;
}

input {
	width: 45%;
	height: 1em;
	border: 1px solid black;
}

.centre-text  {
	text-align: center;
}

.right-text {
	text-align: right;
}

input.ng-invalid {
/*.input-error {*/
	border: solid 1px red;
}

.input-error-msg {
	display: inline-block;
	color: red;
	font-size: 0.75em;
	margin: 0;
}